.singlebeer {
  margin-block-start: 4rem;
}

.singlebeer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  margin-inline: auto;
}

.singlebeer__image-container {
  height: 400px;
  margin-block-end: 3rem;
}

.singlebeer__image {
  height: 100%;
}

.singlebeer__content-container {
  display: flex;
  flex-direction: column;
  padding-inline: 5%;
}

.singlebeer__heading-two {
  margin-block-end: 0.5rem;
}

.singlebeer__heading-three {
  color: black;
  margin-block-end: 1.5rem;
}

.singlebeer__data {
  display: flex;
  justify-content: space-between;
  margin-block-end: 0.5rem;
}

.singlebeer__description {
  font-weight: 600;
  margin-block: 1rem 2rem;
}

.singlebeer__link svg {
  margin-block-end: 4rem;
  width: 45px;
}

@media only screen and (max-width: 650px) {
  .singlebeer__container {
    max-width: 100%;
  }
}
