.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-block: 2rem 4rem;
}

.home__items {
  display: flex;
  flex-direction: column;
}

.home__image-container {
  margin-block-end: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__image-container--one {
  background: url(/images/allbeers.jpg) no-repeat center;
  background-size: cover;
}

.home__image-container--two {
  background: url(/images/randombeer.jpg) no-repeat center;
  background-size: cover;
}

.home__links {
  background-color: hsla(0, 0%, 0%, 0.4);
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  padding-block: 15rem;
  text-align: center;
  width: 100%;
}

.home__description {
  font-size: 1.1rem;
  line-height: 1.3;
}
